<!DOCTYPE html>

<html>
    <head>
      <title> KiloCaloKiller </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
      <style>
      body { width: 1000px; margin: 20px auto;}
      </style>
    </head>

    <body>
      <h1> KiloCaloCounter <h1>
            <h2> <%= link_to "Begin", "/my_week" %> <h2>
    </body>
</html>