<!DOCTYPE html>
<html>
    <head>
      <title> "My Week" 
      </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js">
      </script>
      <style>
        body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
 <body>
       <div id = "static_data_placer">
          <%=render'static_data'%>
       </div>
       <div>
         <%=render'calorie_week'%>
       </div>   
 </body>
 <script>
     $('#IDLE_BURN, #FASTING_FUELAGE, #LEAN_FUELAGE, .meal1, .meal2, .meal3, .meal4, .meal5, .meal6, .meal7, .meal8, .meal9, .meal10').change(function() {
       var idle = $('#IDLE_BURN').val();
       var fast = $('#FASTING_FUELAGE').val();
       var lean = $('#LEAN_FUELAGE').val();
       var day = $('.weekday_name').val();
       var cal1 = $('.meal1').val();
       var cal2 = $('.meal2').val();
       var cal3 = $('.meal3').val();
       var cal4 = $('.meal4').val();
       var cal5 = $('.meal5').val();
       var cal6 = $('.meal6').val();
       var cal7 = $('.meal7').val();
       var cal8 = $('.meal8').val();
       var cal9 = $('.meal9').val();
       var cal10 = $('.meal10').val();
       console.log( $('.meal1').val());
       console.log( $('.weekday_name').val());
       $.ajax({url: '/my_week', type: 'POST', data: {"IDLE_BURN": idle, "FASTING_FUELAGE": fast, "LEAN_FUELAGE": lean, "weekday_name": day, "meal1": cal1, "meal2": cal2, "meal3": cal3, "meal4": cal4, "meal5": cal5, "meal6": cal6, "meal7": cal7, "meal8": cal8, "meal9": cal9, "meal10": cal10 }});
      });
 </script>
 </html>