<!DOCTYPE html>
<html>
    <head>
      <title> "My Week" </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
      <style>
      body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
    <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Constant Data
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Idle Burn Quantity" id="IDLE_BURN" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Aggressive Fast Quantity" id="LOW_FUEL" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Baseline Intake Quantity" id="LIGHT_FUEL" name="USER" maxlength="4" class="activeText">
         </li>   
  </ul>
  <ul>
  </ul>
  <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Monday  
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
  <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Tuesday  
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
  <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Wednesday  
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
  <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Thursday  
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
    <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Friday 
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
  <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Saturday  
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
  <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Sunday  
         </li>           
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="USER" maxlength="4" class="activeText">
         </li>    
  </ul>
        
 
 </html>