












<!DOCTYPE html>
<html>
    <head>
      <title> "My Week" </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
      <style>
      body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
          <% 3.times do |static_array| %>
           <form>  
             <li style="list-style-type: none;">
               <input type="text" placeholder="<%=@static_calories_placeholders[static_array]%>" id="BURN_DATA" name="<%=@static_calories_names[static_array]%>" maxlength="4">
             </li>
           </form>
         <%end%> 
        
 
 </html>