<!DOCTYPE html>
<html>
    <head>
      <title> "My Week" </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
      <style>
      body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
  <% week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %>
    <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Constant Data
         </li>  
         <li style="list-style-type: none;">
           <input type="text" value="Idle Burn Quantity" id="IDLE_BURN" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Aggressive Fast Quantity" id="LOW_FUEL" name="USER" maxlength="4" class="activeText">
         </li>
         <li style="list-style-type: none;">
           <input type="text" value="Baseline Intake Quantity" id="LIGHT_FUEL" name="USER" maxlength="4" class="activeText">
         </li>   
  </ul>
  <ul>
  </ul>
  <% 7.times do |day|%>
  <ul style="list-style-type: none; display: inline-block;">
    <li style="list-style-type: none;" id="DAY_NAME" name="<%=week[day]%>" >
         <%= week[day] %>
         </li>
         <% 10.times do |meal| %>  
         <li style="list-style-type: none;">
           <input type="text" value="Meal" id="CALORIE_INPUT" name="MEAL<%=meal%>" maxlength="4" class="activeText">
         </li>
         <% end %>         
  </ul>
  <% end %>
        
 
 </html>