<!DOCTYPE html>
<html>
    <head>
      <title> "My Week"
      </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js">
      </script>

<script>
      var day_dissector = function(day_name) {
      day = $(day_name + ' .weekday_name').val();
      cal1 = $(day_name + ' .meal1').val();
      cal2 = $(day_name + ' .meal2').val();
      cal3 = $(day_name + ' .meal3').val();
      cal4 = $(day_name + ' .meal4').val();
      cal5 = $(day_name + ' .meal5').val();
      cal6 = $(day_name + ' .meal6').val();
      cal7 = $(day_name + ' .meal7').val();
      cal8 = $(day_name + ' .meal8').val();
      cal9 = $(day_name + ' .meal9').val();
      cal10 = $(day_name + ' .meal10').val();
      }

      var static_data = function() {
        idle = $('#IDLE_BURN').val();
        fast = $('#FASTING_FUELAGE').val();
        lean = $('#LEAN_FUELAGE').val();
      }

      var day_totaler = function(day_name) {
        day_dissector(day_name)
        var day_total = Number(cal1)+Number(cal2)+Number(cal3)+Number(cal4)+Number(cal5)+Number(cal6)+Number(cal7)+Number(cal8)+Number(cal9)+Number(cal10);
        return day_total
      }

      var day_updater = function(day_name) {

        static_data();
        day_dissector(day_name);
        var daytotal = day_totaler(day_name);

       console.log( $(day_name + ' .meal1').val());
       console.log( $(day_name + ' .weekday_name').val());

       $.ajax({url: '/my_week', type: 'POST', data: {"weekday_name": day, "meal1": cal1, "meal2": cal2, "meal3": cal3, "meal4": cal4, "meal5": cal5, "meal6": cal6, "meal7": cal7, "meal8": cal8, "meal9": cal9, "meal10": cal10 }});

       if (day_name === '#Tuesday') {prev_day = "#Monday"}
       else if (day_name === '#Wednesday') {prev_day = "#Tuesday"}
       else if (day_name === '#Thursday') {prev_day = "#Wednesday"}
       else if (day_name === '#Friday') {prev_day = "#Thursday"}
       else if (day_name === '#Saturday') {prev_day = "#Friday"}
       else if (day_name === '#Sunday') {prev_day = "#Saturday"}

       if (day_name != "#Monday") {
       var previous_fasting_excess = $(prev_day + '  #FastingExcess').text();
       var previous_lean_excess = $(prev_day + ' #LeanExcess').text();
       };

       if (day_name === '#Monday') {
       $("#DayTotal").text(daytotal);
       $("#ExcessBurn").text(Number(idle)-Number(daytotal));
       $("#FastingExcess").text(Number(fast)-Number(daytotal));
       $("#LeanExcess").text(Number(lean)-Number(daytotal));
       }
       else {
       $(day_name + " #DayTotal").text(daytotal);
       $(day_name + " #ExcessBurn").text(Number(idle)-Number(daytotal));
       $(day_name + " #FastingExcess").text(Number(fast)+Number(previous_fasting_excess)-Number(daytotal));
       $(day_name + " #LeanExcess").text(Number(lean)+Number(previous_lean_excess)-Number(daytotal));
       };

}

    var idle_updater = function() {
      static_data();



    }
</script>

      <style>
        body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
 <body>
       <div id = "static_data_placer">
          <%=render'static_data'%>
       </div>
       <div>
         <%=render'calorie_week'%>
       </div>
 </body>

<script>

$('#Monday > tr').change(function() {day_updater('#Monday')})
$('#Tuesday > tr').change(function() {day_updater('#Tuesday')})
$('#Wednesday > tr').change(function() {day_updater('#Wednesday')})
$('#Thursday > tr').change(function() {day_updater('#Thursday')})
$('#Friday > tr').change(function() {day_updater('#Friday')})
$('#Saturday > tr').change(function() {day_updater('#Saturday')})
$('#Sunday > tr').change(function() {day_updater('#Sunday')})

</script>
</html>
