<!DOCTYPE html>
<html>
    <head>
      <title> "My Week" </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
      <style>
      body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
 <body>
     <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME">
         Constant Data
         </li>  
         <li style="list-style-type: none;">
           <input type="text" placeholder="Idle Burn Calories" id="BURN_DATA" name="IDLE_BURN" maxlength="4">
         </li>
         <li style="list-style-type: none;">
           <input type="text" placeholder="Fasting Caloric Goal" id="BURN_DATA" name="FASTING_FUELAGE" maxlength="4">
         </li>
         <li style="list-style-type: none;">
           <input type="text" placeholder="Non-Fasting Caloric Goal" id="BURN_DATA" name="LEAN_FUELAGE" maxlength="4">
         </li>
         <li style="list-style-type: none;">
           <input type="date" id="BURN_DATA" name="DATE" maxlength="4">
         </li>
      </ul>
      <ul>
      </ul>
  <% 7.times do |day|%>
      <ul style="list-style-type: none; display: inline-block;">
        <li style="list-style-type: none;" id="DAY_NAME" name="<%=@week[day]%>">
           <%= @week[day] %>
           </li>
           <% 10.times do |meal| %>  
          <form>
           <li style="list-style-type: none;">
             <input type="text" placeholder="Meal" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Meal'" onblur="submit_calories()" id="CALORIE_INPUT" name="<%=@week[day]%>MEAL<%=meal%>" maxlength="4">
           </li>
         </form>  
         <% end %>         
      </ul>
  <% end %>
  </body>
 </html>